In [27]:
import pandas as pd
import numpy as np
import re
import os
import subprocess
import time
from datetime import date, timedelta, datetime
import sqlalchemy as a
import boto3
import s3fs
import pandasql
import sys
from datetime import date, timedelta, datetime
import copy
from io import StringIO
import io

In [28]:
client = boto3.client('athena', region_name = 'us-east-1')

In [29]:
#Function for starting athena query

def run_query(query, database, s3_output):
    print(s3_output)
    client = boto3.client('athena', region_name = 'us-east-1')
    response = client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={
        'Database': database
           },
    ResultConfiguration={
            'OutputLocation': s3_output,
            },
    WorkGroup='insights_team'    
    )
       
    print('Execution ID: ' + response['QueryExecutionId'])
   
    return response

In [30]:
cxn2 = 'mysql+mysqlconnector://analytics:analyticsxaddb@etl-int.db.xad.com:3336/xadcms'
engine_2 = a.create_engine(cxn2)

d = pd.read_sql('''SELECT max(date) as a FROM
(SELECT date, COUNT(*) AS total_hours FROM (
SELECT year, month, day, hour, CAST(CONCAT(CAST(year AS CHAR(50)),'-',CAST(month AS CHAR(50)),'-',CAST(day AS CHAR(50))) AS DATE) AS date,COUNT(*) AS status2
FROM enigma_etl_2017.status_log
WHERE `key` IN ('science_core_orc/us/display_dr','science_core_orc/us/sdk_dr','science_core_orc/us/display','science_core_orc/us/exchange')
AND hour IS NOT NULL
AND CAST(concat(CAST(year AS CHAR(50)),'-',CAST(month AS CHAR(50)),'-',CAST(day AS CHAR(50))) AS DATE) > (CURDATE()- INTERVAL 31 day)
GROUP BY 1, 2, 3, 4, 5) as a
WHERE status2 >= 4
group by 1) as b
where total_hours=24''',engine_2)

log_date= d._get_value(0,'a')
print(log_date)
print("Checked on",dt.date.today())

2022-08-24

Checked on 2022-08-29

In [54]:
# DOD data comparison

os.environ['AWS_DEFAULT_REGION'] = 'us-east-1'
raw_vis = wr.athena.read_sql_query(sql="""
with base1 as (SELECT visit_date,sum(visit) as visits_before,count(distinct visit_uid) as visitors_count_before
FROM store_visitation_intermediate_orc.store_visitation_intermediate_orc b
where b.lag_bucket_id not in ('-1','7','8')
and exposure_type = 'IMPRESSION'
and visit_date >=('2022-05-01') 
group by 1),

base2 as (SELECT visit_date,sum(visit) as visits_after,count(distinct visit_uid) as visitors_count_after
FROM store_visitation_intermediate_orc.store_visitation_intermediate_orc_pmo227 b
where b.lag_bucket_id not in ('-1','7','8')
and exposure_type = 'IMPRESSION'
and visit_date >=('2022-05-01') 
group by 1)

select a.*,b.visits_after,visitors_count_after from base1 a
inner join base2 b on a.visit_date=b.visit_date 
order by visit_date asc

""", database="saurabhyadav",workgroup='insights_team')

In [55]:
raw_vis.to_csv('s3://monet-etl/saurabhyadav/SA-490 Testing/DOD_Visits/DOD_vis.csv',index=False,header=False)

In [56]:
raw_vis

,visit_date,visits_before,visitors_count_before,visits_after,visitors_count_after
0,2022-05-01,409029,209884,378666,209884
1,2022-05-02,360506,193530,333405,193530
2,2022-05-03,341221,184443,316737,184443
3,2022-05-04,283763,162702,264248,162702
4,2022-05-05,255405,147711,240690,147711
5,2022-05-06,248582,145165,233771,145165
6,2022-05-07,258419,139648,242963,139648
7,2022-05-08,278226,153605,263150,153604
8,2022-05-09,227767,136085,217226,136085
9,2022-05-10,234829,138112,220533,138112
10,2022-05-11,214325,123397,199494,123397
11,2022-05-12,159998,90043,150047,90042
12,2022-05-13,253333,156075,242329,156075
13,2022-05-14,271301,151496,255613,151495
14,2022-05-15,264248,147167,249024,147166
15,2022-05-16,169451,97496,159786,97496
16,2022-05-17,168720,113209,163421,113209
17,2022-05-18,127920,86370,124268,86370
18,2022-05-19,132782,89046,128378,89046
19,2022-05-20,97460,63770,93681,63770
20,2022-05-21,207554,132399,202191,132399
21,2022-05-22,186622,116380,180701,116380
22,2022-05-23,164814,104522,158597,104522
23,2022-05-24,143138,83762,136358,83762
24,2022-05-25,218105,133075,212039,133074
25,2022-05-26,180963,112230,175934,112229
26,2022-05-27,168974,103864,165050,103864
27,2022-05-28,150997,86183,146425,86183
28,2022-05-29,230038,133513,224845,133513
29,2022-05-30,188659,109372,181808,109371
30,2022-05-31,201463,119031,195096,119031
31,2022-06-01,155796,83955,149379,83947
32,2022-06-02,294733,167524,282012,166045
33,2022-06-03,258121,145773,245154,143062
34,2022-06-04,284918,151844,244707,134379
35,2022-06-05,275587,150829,195811,107933
36,2022-06-06,254902,146198,132430,74299
37,2022-06-07,241681,139265,113777,63001

In [38]:
# DOD data from raw_visits_table

os.environ['AWS_DEFAULT_REGION'] = 'us-east-1'
raw_vis = wr.athena.read_sql_query(sql="""
with base1 as 
(select *,from_unixtime ((header.timestamp-14400000)/1000 ) as vis_dt,
from_unixtime ((header.timestamp- cmp.header.timestamp)/1000) as lag,cmp.campaign_id as campaign_id,
cmp.header.request_id as adx_req_id
from raw_conversion_tracking.conversion_enigma_event_v2_conversiontracking 
CROSS JOIN unnest(ad_exposure) AS adx (cmp)
CROSS JOIN unnest(poi_attribution) AS poa (po)
where
cmp.is_latest=TRUE 
and poi_attribution is not null
and cmp.event_type='IMPRESSION'
and (cmp.conversion_type='STORE' or cmp.conversion_type is null)
and y='2022' and m IN ('07','08'))

select date(vis_dt) as visit_date,count(distinct adx_req_id) as visits_raw,count(distinct uid) as visitors_raw
from base1 
where date(vis_dt)>=date('2022-08-01') and day(lag)<=14
group by 1
order by visit_date asc

""", database="saurabhyadav",workgroup='insights_team')

In [39]:
raw_vis

    visit_date  visits_raw  visitors_raw
0   2022-08-01      327281        183532
1   2022-08-02      304904        168931
2   2022-08-03      292448        165764
3   2022-08-04      287465        154929
4   2022-08-05      335760        185665
5   2022-08-06      382500        198028
6   2022-08-07      326346        172588
7   2022-08-08      306292        160155
8   2022-08-09      310487        169916
9   2022-08-10      291801        160262
10  2022-08-11      279245        156556
11  2022-08-12      284266        155225
12  2022-08-13      348888        179588
13  2022-08-14      348785        178116
14  2022-08-15      310462        163397
15  2022-08-16      308621        163114
16  2022-08-17      302317        161404
17  2022-08-18      276779        152753
18  2022-08-19      315754        170298
19  2022-08-20      393010        204027
20  2022-08-21      344334        186021
21  2022-08-22      288069        160854
22  2022-08-23      319491        174131
23  2022-08-24      334482        178556
24  2022-08-25      343295        181278
25  2022-08-26      287801        152835
26  2022-08-27      230718        109854
27  2022-08-28      162096         79235
28  2022-08-29       33834         17759