In [1]:
import sqlalchemy as a 
import boto3
import xlsxwriter
import pandas as pd
import numpy as np
import os
import sys
import psycopg2
import mysql.connector
from datetime import date, timedelta
import warnings
warnings.filterwarnings('ignore', '.*do not.*', )

In [2]:
cxn = 'postgresql+psycopg2://saurabhyadav:x@DqlG113GG@redshift.xad.com:5439/dwenigma'
engine = a.create_engine(cxn)
cxn_2 = 'mysql+mysqlconnector://apps:appsxaddb@app.db.xad.com:3336/xadcms'
engine_2 = a.create_engine(cxn_2)

# Tags Geotargeting check

In [14]:
# Fetching adgroup_start and end_date
adg="""select adgroup_id,start_date from adgroup_dimension where del=0 and 
adgroup_status='ACTIVE' and end_date>=current_date-4 and start_date<=current_date-4 and delivery_channel='xAd' """
adg=pd.read_sql(adg,engine)

In [15]:
# Active Adgroups using targetType (45 and 56)

tag1="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(45,56) and del=0 and adGroup_id IN {}""".format(tuple(adg['adgroup_id']))
tag1=pd.read_sql(tag1,engine_2)

In [16]:
f2=tag1.assign(constraint_unnested=tag1['constraints'].str.split(',')).explode('constraints')
f2 = f2.explode('constraint_unnested')

In [17]:
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('trad_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('to_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('ti_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('r_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_bus','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_res','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_busres','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('gb_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('res','')

f2['regx']=f2['constraint_unnested'].str.extract('(.*)_')

In [18]:
f2['tags']=np.where(f2['regx'].isna(),f2['constraint_unnested'],f2['regx'])

In [19]:
f2['adgroup_id'].nunique()

4509

In [20]:
f2['tags'].nunique()

4854

In [21]:
f2.groupby(['targetType'])['tags'].nunique().reset_index()

   targetType  tags
0          45  1503
1          56  3871

In [22]:
f2.groupby(['targetType'])['adgroup_id'].nunique().reset_index()

   targetType  adgroup_id
0          45        1568
1          56        2971

# Checking location groups using tag_audience

In [23]:
# Fetching adgroup_start and end_date
adg2="""select adgroup_id,start_date,end_date from adgroup_dimension where del=0 
and end_date<current_date-4 and end_date>=current_date-94 and delivery_channel='xAd' """
adg2=pd.read_sql(adg2,engine)

In [24]:
# Last 90 days ended Adgroups using Audience LG targeting

tag2="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(56) and del=0 and adGroup_id IN {}""".format(tuple(adg2['adgroup_id']))
tag2=pd.read_sql(tag2,engine_2)

In [25]:
f3=tag2.assign(constraint_unnested=tag2['constraints'].str.split(',')).explode('constraints')
f3 = f3.explode('constraint_unnested')

In [26]:
f3

,adgroup_id,targetType,constraints,constraint_unnested
0,2961608,56,26991,26991
1,3344991,56,35440,35440
2,3771505,56,52612,52612
3,3786375,56,"31993,31998,32003",31993
3,3786375,56,"31993,31998,32003",31998
...,...,...,...,...
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32001
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32002
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32003
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32004
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",549

In [27]:
f3['constraint_unnested'].nunique()

4967

In [28]:
f2

,adgroup_id,targetType,constraints,constraint_unnested,regx,tags
0,2781834,45,trad_21837_.5,21837_.5,21837,21837
1,2781944,45,trad_21841_1,21841_1,21841,21841
2,2781974,45,trad_21847_0.5,21847_0.5,21847,21847
3,2782009,45,trad_21853_0.5,21853_0.5,21853,21853
4,2840394,45,trad_23548_1,23548_1,23548,23548
...,...,...,...,...,...,...
4566,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",76000_0.1,76000,76000
4566,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78043_0.1,78043,78043
4566,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78044_0.1,78044,78044
4566,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78045_0.1,78045,78045
4566,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78046_0.1,78046,78046

In [29]:
f2_56=f2[['tags']].drop_duplicates()

In [30]:
f3_56=f3[['constraint_unnested']].drop_duplicates()
f3_56.rename(columns={'constraint_unnested':'tags'},inplace=True)

In [31]:
f2_56['tags'].nunique()

4854

In [32]:
f3_56['tags'].nunique()

4967

In [33]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

2090

In [34]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()
# These are the LGs that are still used, however those that are not used currently but were 
# used in audience targeting in last 90 days will still be used in indexing
print(str(f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique())+ ' tags are still in indexing cycle, even though their adgroups have expired')

2877 tags are still in indexing cycle, even though their adgroups have expired

In [36]:
f2_56['tags'].nunique()+f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

7731

# Checking Last year performance For Sept 17th

In [37]:
# Fetching adgroup_start and end_date
adg="""select adgroup_id,start_date from adgroup_dimension where del=0 and 
adgroup_status='ACTIVE' and end_date>=current_date-369 and start_date<=current_date-369 and delivery_channel='xAd' """
adg=pd.read_sql(adg,engine)

In [38]:
adg

       adgroup_id  start_date
0         1473096  2016-12-13
1         1473101  2016-12-13
2         1736554  2017-06-06
3         1736559  2017-06-06
4         1736564  2017-06-06
...           ...         ...
14695     4407144  2021-09-17
14696     4407154  2021-09-17
14697     4407159  2021-09-17
14698     4407169  2021-09-17
14699     4407314  2021-09-17

[14700 rows x 2 columns]

In [39]:
# Active Adgroups using targetType (45 and 56)

tag1="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(45,56) and del=0 and adGroup_id IN {}""".format(tuple(adg['adgroup_id']))
tag1=pd.read_sql(tag1,engine_2)

In [12]:
tag1

      adgroup_id  targetType     constraints
0        2781834          45   trad_21837_.5
1        2781944          45    trad_21841_1
2        2781974          45  trad_21847_0.5
3        2782009          45  trad_21853_0.5
4        2836039          45  trad_23436_0.5
...          ...         ...             ...
3272     4406544          56           46188
3273     4406599          56           46188
3274     4406689          56           26938
3275     4406699          45    trad_47190_1
3276     4406779          56           26938

[3277 rows x 3 columns]

In [40]:
f2=tag1.assign(constraint_unnested=tag1['constraints'].str.split(',')).explode('constraints')
f2 = f2.explode('constraint_unnested')

In [44]:
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('trad_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('to_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('ti_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('r_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_bus','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_res','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_busres','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('gb_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('res','')

f2['regx']=f2['constraint_unnested'].str.extract('(.*)_')

f2['tags']=np.where(f2['regx'].isna(),f2['constraint_unnested'],f2['regx'])

In [45]:
f2['adgroup_id'].nunique()

3175

In [46]:
f2['tags'].nunique()

2633

In [47]:
f2.groupby(['targetType'])['tags'].nunique().reset_index()

   targetType  tags
0          45  1205
1          56  1813

In [48]:
f2.groupby(['targetType'])['adgroup_id'].nunique().reset_index()

   targetType  adgroup_id
0          45        1322
1          56        1934

In [50]:
# Checking location groups using tag_audience

# Fetching adgroup_start and end_date
adg2="""select adgroup_id,start_date,end_date from adgroup_dimension where del=0 
and end_date<current_date-373 and end_date>=current_date-463 and delivery_channel='xAd' """
adg2=pd.read_sql(adg2,engine)

In [51]:
# Last 90 days ended Adgroups using Audience LG targeting

tag2="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(56) and del=0 and adGroup_id IN {}""".format(tuple(adg2['adgroup_id']))
tag2=pd.read_sql(tag2,engine_2)

f3=tag2.assign(constraint_unnested=tag2['constraints'].str.split(',')).explode('constraints')
f3 = f3.explode('constraint_unnested')


f3['constraint_unnested'].nunique()


f2_56=f2[['tags']].drop_duplicates()

In [52]:
f3_56=f3[['constraint_unnested']].drop_duplicates()
f3_56.rename(columns={'constraint_unnested':'tags'},inplace=True)

f2_56['tags'].nunique()

f3_56['tags'].nunique()

pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()


pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()
# These are the LGs that are still used, however those that are not used currently but were 
# used in audience targeting in last 90 days will still be used in indexing
print(str(f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique())+ ' tags are still in indexing cycle, even though their adgroups have expired')

1239 tags are still in indexing cycle, even though their adgroups have expired

In [54]:
f2_56['tags'].nunique()+f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

3872