In [158]:
import sqlalchemy as a 
import boto3
import xlsxwriter
import pandas as pd
import numpy as np
import os
import sys
import psycopg2
import mysql.connector
from datetime import date, timedelta
import warnings
warnings.filterwarnings('ignore', '.*do not.*', )

In [2]:
cxn = 'postgresql+psycopg2://saurabhyadav:x@DqlG113GG@redshift.xad.com:5439/dwenigma'
engine = a.create_engine(cxn)
cxn_2 = 'mysql+mysqlconnector://apps:appsxaddb@app.db.xad.com:3336/xadcms'
engine_2 = a.create_engine(cxn_2)

# Tags Geotargeting check

In [185]:
# Fetching adgroup_start and end_date
adg="""select adgroup_id,start_date from adgroup_dimension where del=0 and 
adgroup_status='ACTIVE' and end_date>=current_date-2 and start_date<=current_date-2 and delivery_channel='xAd' """
adg=pd.read_sql(adg,engine)

In [188]:
# Active Adgroups using targetType (45 and 56)

tag1="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(45,56) and del=0 and adGroup_id IN {}""".format(tuple(adg['adgroup_id']))
tag1=pd.read_sql(tag1,engine_2)

In [190]:
f2=tag1.assign(constraint_unnested=tag1['constraints'].str.split(',')).explode('constraints')
f2 = f2.explode('constraint_unnested')

In [192]:
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('trad_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('to_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('ti_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('r_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_bus','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_res','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_busres','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('gb_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('res','')

f2['regx']=f2['constraint_unnested'].str.extract('(.*)_')

In [194]:
f2['tags']=np.where(f2['regx'].isna(),f2['constraint_unnested'],f2['regx'])

In [196]:
f2['adgroup_id'].nunique()

4521

In [197]:
f2['tags'].nunique()

4801

In [198]:
f2.groupby(['targetType'])['tags'].nunique().reset_index()

   targetType  tags
0          45  1489
1          56  3828

In [199]:
f2.groupby(['targetType'])['adgroup_id'].nunique().reset_index()

   targetType  adgroup_id
0          45        1595
1          56        2956

# Checking location groups using tag_audience

In [229]:
# Fetching adgroup_start and end_date
adg2="""select adgroup_id,start_date,end_date from adgroup_dimension where del=0 
and end_date<current_date-2 and end_date>=current_date-92 and delivery_channel='xAd' """
adg2=pd.read_sql(adg2,engine)

In [231]:
# Last 90 days ended Adgroups using Audience LG targeting

tag2="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(56) and del=0 and adGroup_id IN {}""".format(tuple(adg2['adgroup_id']))
tag2=pd.read_sql(tag2,engine_2)

In [232]:
f3=tag2.assign(constraint_unnested=tag2['constraints'].str.split(',')).explode('constraints')
f3 = f3.explode('constraint_unnested')

In [238]:
f3

,adgroup_id,targetType,constraints,constraint_unnested
0,2961608,56,26991,26991
1,3344991,56,35440,35440
2,3771505,56,52612,52612
3,3786375,56,"31993,31998,32003",31993
3,3786375,56,"31993,31998,32003",31998
...,...,...,...,...
15495,5760151,56,"26802,26803,26804,26805,31990,31991,31992,3199...",31998
15495,5760151,56,"26802,26803,26804,26805,31990,31991,31992,3199...",32000
15495,5760151,56,"26802,26803,26804,26805,31990,31991,31992,3199...",32001
15495,5760151,56,"26802,26803,26804,26805,31990,31991,31992,3199...",32002
15495,5760151,56,"26802,26803,26804,26805,31990,31991,31992,3199...",32003

In [237]:
f3['constraint_unnested'].nunique()

4967

In [282]:
f2

,adgroup_id,targetType,constraints,constraint_unnested,regx,tags
0,2781834,45,trad_21837_.5,21837_.5,21837,21837
1,2781944,45,trad_21841_1,21841_1,21841,21841
2,2781974,45,trad_21847_0.5,21847_0.5,21847,21847
3,2782009,45,trad_21853_0.5,21853_0.5,21853,21853
4,2840394,45,trad_23548_1,23548_1,23548,23548
...,...,...,...,...,...,...
4574,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",76000_0.1,76000,76000
4574,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78043_0.1,78043,78043
4574,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78044_0.1,78044,78044
4574,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78045_0.1,78045,78045
4574,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78046_0.1,78046,78046

In [284]:
f2_56=f2[['tags']].drop_duplicates()

In [285]:
f3_56=f3[['constraint_unnested']].drop_duplicates()
f3_56.rename(columns={'constraint_unnested':'tags'},inplace=True)

In [286]:
f2_56['tags'].nunique()

4801

In [287]:
f3_56['tags'].nunique()

4967

In [288]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

2062

In [289]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()
# These are the LGs that are still used, however those that are not used currently but were 
# used in audience targeting in last 90 days will still be used in indexing
print(str(f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique())+ ' tags are still in indexing cycle, even though their adgroups have expired')

2905 tags are still in indexing cycle, even though their adgroups have expired

In [290]:
4801+4967-2062

7706