In [142]:
import sqlalchemy as a 
import boto3
import xlsxwriter
import pandas as pd
import numpy as np
import os
import sys
import psycopg2
import mysql.connector
from datetime import date, timedelta
import warnings
warnings.filterwarnings('ignore', '.*do not.*', )

In [184]:
cxn = 'postgresql+psycopg2://saurabhyadav:x@DqlG113GG@redshift.xad.com:5439/dwenigma'
engine = a.create_engine(cxn)
cxn_2 = 'mysql+mysqlconnector://apps:appsxaddb@app.db.xad.com:3336/xadcms'
engine_2 = a.create_engine(cxn_2)
cxn_3 = 'postgresql+psycopg2://saurabhyadav:n@bhgh4S8@poi-db.mgmt.xad.com:5432/xaddb'
engine_3 = a.create_engine(cxn_3)

# Tags Geotargeting check

In [144]:
# Fetching adgroup_start and end_date
adg="""select adgroup_id,start_date from adgroup_dimension where del=0 and 
adgroup_status='ACTIVE' and end_date>=current_date-5 and start_date<=current_date-5 and delivery_channel='xAd' """
print(adg)
adg=pd.read_sql(adg,engine)

select adgroup_id,start_date from adgroup_dimension where del=0 and
adgroup_status='ACTIVE' and end_date>=current_date-5 and start_date<=current_date-5 and delivery_channel='xAd'

In [145]:
# Active Adgroups using targetType (45 and 56)

tag1="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(45,56) and del=0 and adGroup_id IN {}""".format(tuple(adg['adgroup_id']))
tag1=pd.read_sql(tag1,engine_2)

In [146]:
f2=tag1.assign(constraint_unnested=tag1['constraints'].str.split(',')).explode('constraints')
f2 = f2.explode('constraint_unnested')

In [147]:
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('trad_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('to_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('ti_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('r_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_bus','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_res','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_busres','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('gb_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('res','')

f2['regx']=f2['constraint_unnested'].str.extract('(.*)_')

In [148]:
f2['tags']=np.where(f2['regx'].isna(),f2['constraint_unnested'],f2['regx'])

In [149]:
f2['adgroup_id'].nunique()

4506

In [150]:
f2['tags'].nunique()

4852

In [151]:
f2.groupby(['targetType'])['tags'].nunique().reset_index()

   targetType  tags
0          45  1501
1          56  3871

In [152]:
f2.groupby(['targetType'])['adgroup_id'].nunique().reset_index()

   targetType  adgroup_id
0          45        1566
1          56        2970

# Checking location groups using tag_audience

In [153]:
# Fetching adgroup_start and end_date
adg2="""select adgroup_id,start_date,end_date from adgroup_dimension where del=0 
and end_date<current_date-5 and end_date>=current_date-95 and delivery_channel='xAd' """
adg2=pd.read_sql(adg2,engine)

In [154]:
# Last 90 days ended Adgroups using Audience LG targeting

tag2="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(56) and del=0 and adGroup_id IN {}""".format(tuple(adg2['adgroup_id']))
tag2=pd.read_sql(tag2,engine_2)

In [155]:
f3=tag2.assign(constraint_unnested=tag2['constraints'].str.split(',')).explode('constraints')
f3 = f3.explode('constraint_unnested')

In [156]:
f3

,adgroup_id,targetType,constraints,constraint_unnested
0,2961608,56,26991,26991
1,3344991,56,35440,35440
2,3771505,56,52612,52612
3,3786375,56,"31993,31998,32003",31993
3,3786375,56,"31993,31998,32003",31998
...,...,...,...,...
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32002
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32003
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",32004
15494,5717986,56,"26802,26803,26804,26805,26938,31990,31991,3199...",549
15495,5766801,56,77308,77308

In [157]:
f3['constraint_unnested'].nunique()

4968

In [158]:
f2

,adgroup_id,targetType,constraints,constraint_unnested,regx,tags
0,2781834,45,trad_21837_.5,21837_.5,21837,21837
1,2781944,45,trad_21841_1,21841_1,21841,21841
2,2781974,45,trad_21847_0.5,21847_0.5,21847,21847
3,2782009,45,trad_21853_0.5,21853_0.5,21853,21853
4,2840394,45,trad_23548_1,23548_1,23548,23548
...,...,...,...,...,...,...
4563,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",76000_0.1,76000,76000
4563,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78043_0.1,78043,78043
4563,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78044_0.1,78044,78044
4563,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78045_0.1,78045,78045
4563,5789871,45,"trad_75988_0.1,trad_76000_0.1,trad_78043_0.1,t...",78046_0.1,78046,78046

In [159]:
f2_56=f2[['tags']].drop_duplicates()

In [160]:
f3_56=f3[['constraint_unnested']].drop_duplicates()
f3_56.rename(columns={'constraint_unnested':'tags'},inplace=True)

In [161]:
f2_56['tags'].nunique()

4852

In [162]:
f3_56['tags'].nunique()

4968

In [163]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

2090

In [164]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()
# These are the LGs that are still used, however those that are not used currently but were 
# used in audience targeting in last 90 days will still be used in indexing
print(str(f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique())+ ' tags are still in indexing cycle, even though their adgroups have expired')

2878 tags are still in indexing cycle, even though their adgroups have expired

In [165]:
f2_56['tags'].nunique()+f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

7730

### Checking BL for these adgroups

In [166]:
all_adgroups=f2[['adgroup_id']].drop_duplicates().append(f3[['adgroup_id']].drop_duplicates()).drop_duplicates()

In [167]:
bl="""select adgroup_id,business_line from adgroup_dimension a 
left join campaign_dimension b on a.campaign_id=b.campaign_id
where adgroup_id IN {}""".format(tuple(all_adgroups['adgroup_id']))
bl=pd.read_sql(bl,engine)

In [168]:
bl.groupby(['business_line'])['adgroup_id'].count().reset_index()

   business_line  adgroup_id
0              0        1576
1              1       17751
2              2         283

### Splitting these 7.7K LGs into small, medium and Large based on POI counts

In [173]:
unq_LGs=f2_56[['tags']].append(f3_56[['tags']]).drop_duplicates()

In [206]:
# Fetching adgroup_start and end_date
poi_ct="""
select tag,count(*) as poi_count from
(SELECT id,tag
FROM pgadmin.business_tag WHERE tag IN {}
)a1
group by 1
""".format(tuple(unq_LGs['tags']))
poi_ct=pd.read_sql(poi_ct,engine_3)

In [216]:
poi_ct['Scale']=np.where(poi_ct['poi_count']<=5,'Small',(np.where(poi_ct['poi_count']>25,'Large','Medium')))

In [218]:
poi_ct.groupby(['Scale'])['tag'].count().reset_index()

    Scale   tag
0   Large   870
1  Medium  1147
2   Small  5341

# Checking Last year performance For Sept 17th

In [110]:
print(date.today()-timedelta(370))

2021-09-17

In [115]:
# Fetching adgroup_start and end_date
adg="""select adgroup_id,start_date from adgroup_dimension where del=0 and end_date>=current_date-370 and start_date<=current_date-370 and delivery_channel='xAd' """
adg=pd.read_sql(adg,engine)

In [116]:
# Active Adgroups using targetType (45 and 56)

tag1="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(45,56) and del=0 and adGroup_id IN {}""".format(tuple(adg['adgroup_id']))
tag1=pd.read_sql(tag1,engine_2)

In [117]:
tag1

      adgroup_id  targetType     constraints
0        2463581          45  trad_9268_15.0
1        2472056          45  trad_9268_15.0
2        2781834          45   trad_21837_.5
3        2781944          45    trad_21841_1
4        2781974          45  trad_21847_0.5
...          ...         ...             ...
3567     4406544          56           46188
3568     4406599          56           46188
3569     4406689          56           26938
3570     4406699          45    trad_47190_1
3571     4406779          56           26938

[3572 rows x 3 columns]

In [118]:
f2=tag1.assign(constraint_unnested=tag1['constraints'].str.split(',')).explode('constraints')
f2 = f2.explode('constraint_unnested')

In [119]:
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('trad_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('to_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('ti_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('r_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_bus','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_res','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('_busres','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('gb_','')
f2['constraint_unnested'] = f2['constraint_unnested'].str.replace('res','')

f2['regx']=f2['constraint_unnested'].str.extract('(.*)_')

f2['tags']=np.where(f2['regx'].isna(),f2['constraint_unnested'],f2['regx'])

In [120]:
f2['adgroup_id'].nunique()

3467

In [121]:
f2['tags'].nunique()

2816

In [122]:
f2.groupby(['targetType'])['tags'].nunique().reset_index()

   targetType  tags
0          45  1279
1          56  1950

In [123]:
f2.groupby(['targetType'])['adgroup_id'].nunique().reset_index()

   targetType  adgroup_id
0          45        1411
1          56        2138

In [124]:
print(date.today()-timedelta(370))
print(date.today()-timedelta(463))

2021-09-17
2021-06-16

In [125]:
# Checking location groups using tag_audience

# Fetching adgroup_start and end_date
adg2="""select adgroup_id,start_date,end_date from adgroup_dimension where del=0 
and end_date<current_date-370 and end_date>=current_date-463 and delivery_channel='xAd' """
adg2=pd.read_sql(adg2,engine)

In [126]:
# Last 90 days ended Adgroups using Audience LG targeting

tag2="""select adGroup_id as adgroup_id,targetType,constraints from targetprofile where targetType IN(56) and del=0 and adGroup_id IN {}""".format(tuple(adg2['adgroup_id']))
tag2=pd.read_sql(tag2,engine_2)

f3=tag2.assign(constraint_unnested=tag2['constraints'].str.split(',')).explode('constraints')
f3 = f3.explode('constraint_unnested')

In [128]:
f3['constraint_unnested'].nunique()

2122

In [130]:
f2_56=f2[['tags']].drop_duplicates()
f3_56=f3[['constraint_unnested']].drop_duplicates()
f3_56.rename(columns={'constraint_unnested':'tags'},inplace=True)

In [132]:
f2_56['tags'].nunique()

2816

In [131]:
f3_56['tags'].nunique()

2122

In [133]:
pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

886

In [135]:
# These are the LGs that are still used, however those that are not used currently but were 
# used in audience targeting in last 90 days will still be used in indexing
print(str(f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique())+ ' tags are still in indexing cycle, even though their adgroups have expired')

1236 tags are still in indexing cycle, even though their adgroups have expired

In [136]:
f2_56['tags'].nunique()+f3_56['tags'].nunique()-pd.merge(f2_56,f3_56,on='tags',how='inner')['tags'].nunique()

4052

In [137]:
# Checking BL for these adgroups

all_adgroups=f2[['adgroup_id']].drop_duplicates().append(f3[['adgroup_id']].drop_duplicates()).drop_duplicates()

bl="""select adgroup_id,business_line from adgroup_dimension a 
left join campaign_dimension b on a.campaign_id=b.campaign_id
where adgroup_id IN {}""".format(tuple(all_adgroups['adgroup_id']))
bl=pd.read_sql(bl,engine)

bl.groupby(['business_line'])['adgroup_id'].count().reset_index()

   business_line  adgroup_id
0              0         920
1              1       11118
2              2         358